# Visual Studio / .NET
**/[Bb]in/
**/[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*

# Node / Frontend
**/node_modules/
**/dist/
**/dist-ssr/
*.local
.eslintcache

# Logs
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sw?

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets / Local Configs
**/appsettings.Development.json
RoomHub.Backend/.vs/RoomHub.slnx/FileContentIndex/ccd3730e-1e1f-4879-a4ab-9563b5fdce10.vsidx
RoomHub.Frontend/.vs/RoomHub.Frontend.slnx/FileContentIndex/b879fa63-1114-4e97-b219-a1bf2e1e4d02.vsidx
